@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <a>This project is a simple example of how to use the Aps.Net Core MVC framework with the Razor template engine and bootstrap for the front-end. 
        If you want to know more about this project, you can visit the <a href="https://github.com/VictorMS-200/Pokemon-API">GitHub repository</a></a> 
    <hr>
    <br>

    <h5>See list of Pokemons:</h5>
    <a asp-action="PokemonList" class="btn btn-primary">View</a>
</div>